<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<targets>

		<!-- Log in a separate thread, possibly queueing up to
      messages. When the queue overflows, discard any
              extra messages-->

		<!-- write logs to file -->
		<target name="default" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<!--${event-context:item=Amount} ${stacktrace}-->
			<!--<target xsi:type="File" name="default" fileName="${basedir}/logs/totallogs/total_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>-->
      <target xsi:type="File" name="default" fileName="D:/QKProject/logs/totallogs/total_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
    </target>

		<target name="pdca" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="pdca" fileName="D:/QKProject/logs/pdcalogs/pdca_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<!--<target name="sfc" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="sfc" fileName="${basedir}/logs/sfclogs/sfc_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>-->

		<target name="sfc" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="sfc" fileName="D:/QKProject/logs/hivelogs/hive_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<target name="mes" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="mes" fileName="D:/QKProject/logs/meslogs/mes_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<!--<target name="mesalarm" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="mesalarm" fileName="${basedir}/logs/meslogs/alarm_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>-->

		<!--<target name="hive" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="hive" fileName="${basedir}/logs/hivelogs/hive_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>-->

		<target name="alarm" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="alarm" fileName="D:/QKProject/logs/alarmlogs/alarm_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<target name="historyalarm" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="historyalarm" fileName="D:/QKProject/logs/historyalarmlogs/historyalarm_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<target name="run" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="run" fileName="D:/QKProject/logs/runlogs/run_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<target name="exception" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="exception" fileName="D:/QKProject/logs/exceptionlogs/exception_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<target name="other" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="other" fileName="D:/QKProject/logs/otherlogs/other_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<target name="spotcheck" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="spotcheck" fileName="D:/QKProject/logs/spotchecklogs/spotcheck_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<!--<target name="editprogram" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="editprogram" fileName="${basedir}/logs/editprogramlogs/editprogram_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>-->

		<target name="editprogram" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="editprogram" fileName="D:/QKProject/logs/meslogs/alarm_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<target name="systemparam" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="systemparam" fileName="D:/QKProject/logs/systemparamlogs/systemparam_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<target name="plcaction" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" name="plcaction" fileName="D:/QKProject/logs/plcactionlogs/plcaction_${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"/>
		</target>

		<!-- write logs to Mysql -->
		<!--    [需要在Mysql创建该表]
            CREATE TABLE `log` (
              `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
              `Application` varchar(50) DEFAULT NULL,
              `Logged` datetime DEFAULT NULL,
              `Level` varchar(50) DEFAULT NULL,
              `Message` varchar(512) DEFAULT NULL,
              `Logger` varchar(250) DEFAULT NULL,
              `Callsite` varchar(512) DEFAULT NULL,
              `Exception` varchar(512) DEFAULT NULL,
              `Title` varchar(512) DEFAULT NULL,
              PRIMARY KEY (`Id`)
            ) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
           -->
		<target name="database" xsi:type="Database"
				  dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
				  connectionString="server=localhost;Database=quick;user id=root;password=hanvv;SslMode=none"
                   >
			<commandText>
				insert into log (
				Application, Logged, Level, Message,
				Logger, CallSite, Exception,Title
				) values (
				@Application, @Logged, @Level, @Message,
				@Logger, @Callsite, @Exception,@title
				);
			</commandText>
			<parameter name="@application" layout="SpotWelding" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@title" layout="${event-context:item=title}" />
			<!--自定义字段-->
		</target>

	</targets>

	<rules>
		<logger name="default" minlevel="Debug" writeTo="default" />
		<logger name="pdca" minlevel="Debug" writeTo="pdca" />
		<logger name="sfc" minlevel="Debug" writeTo="sfc" />
		<logger name="mes" minlevel="Debug" writeTo="mes" />
		<logger name="alarm" minlevel="Debug" writeTo="alarm" />
		<logger name="historyalarm" minlevel="Debug" writeTo="historyalarm" />
		<logger name="run" minlevel="Debug" writeTo="run" />
		<logger name="exception" minlevel="Debug" writeTo="exception" />
		<logger name="other" minlevel="Debug" writeTo="other" />
		<logger name="spotcheck" minlevel="Debug" writeTo="spotcheck" />
		<logger name="editprogram" minlevel="Debug" writeTo="editprogram" />
		<logger name="systemparam" minlevel="Debug" writeTo="systemparam" />
		<logger name="plcaction" minlevel="Debug" writeTo="plcaction" />
	</rules>
</nlog>
